progress {
    border: white;
    width: 100px;
    height: 5px;
    background: crimson;
    position: center;
    border-left: 100cm;
    position: relative;
  }
  
  progress {
    color: lightblue;
  }
  progress::-moz-progress-bar {
    background: lightcoral;
  }
  
  progress::-webkit-progress-value {
    background: rgb(6, 67, 6);
  }
  
  progress::-webkit-progress-bar {
    background: gray;
  }