.pyProg {
background: rgba(63, 131, 30, 0.1);
justify-content: flex-start;
border-radius: 1000px;
align-items: center;
position: center;
padding: 0 5px;
display: center;
height: 40px;
width: flex;
}

.py-value {
animation: py 5s normal infinite;
box-shadow: 0 10px 40px -1px #fff;
border-radius: 100px;
background: rgb(17, 71, 2);
height: 40px;
width: 100px;
position: center;
opacity: 70%;
}

@keyframes py {
10% { width: 0; }
100% { width: 77%; }
}