
.time:hover{
    box-shadow: 0 0 42px #ffff00;
}

.time {
    margin: auto;
    position: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: black;
    border-color: white;
    border-radius: 90ch;
    color: white;
    width: 42%;
    animation: glow 3s ease-in-out 10000ms alternate;
    /* z-index: 10; */
}

.time p {
    font-size: 1.6vmin;
  }

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}