.contactMe:hover{
    transform: scale(103%);
    filter: invert();
    filter: saturate();
}

.contactMe {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: fit-content;
    cursor: pointer;
    flex: 2;
    margin: 10px;
    position: relative;
    transition: all .6s ease-out;
    opacity: 90%;
    font-family: monospace;
}

#contact {
    color: white;
    font-variant: small-caps;
    font-weight: 700;
    font-size: xx-large;
}
