html {
  scroll-behavior: smooth;
}

a,
a:focus,
a:hover {
  color: orange;
  font-size: xx-large;
  font-family: 'Times New Roman';
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  opacity: 100%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  /* background: url('../../src/images/01b.jpg') no-repeat center center fixed; */
  /* init blabnk url for three.js render */
  background: url();  
  background-blend-mode: color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 83%;
  -o-background-size: cover;
  border-radius: 300px;
  border-image: 10cm;
  z-index: 1;
}

.cover-container {
  transition: .9s ease-in-out;
  min-height: 100vh;
}

.masthead {
  margin-bottom: 20rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  background-color: rgba(36, 152, 206, 0.1);

  padding: .75rem 1.25rem;
  font-weight: 700;
}

.card {
  background-color: black(218, 123, 123, 0.1);
  border: black;
  border-width: 100cm;
  border-color: black;
}

.card body {
  color: black;
  border-color: yellow;
}

.btn-primary {
  color: white;
}

/* bootstrap mobile gutter fix */
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}