/*
 * Globals
 */
html
{
  scroll-behavior: smooth;
}
/* Links */
a,
a:focus,
a:hover {
  color: white;
}
  /*--- Fixed Video Background iOS/Mobile Style--*/
  .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
  }
  video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    filter:opacity(44%)
  }
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
html,
body {
  height: 100%;
  background-color: #333;
  opacity: 0.9;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  opacity:100%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  /*
      ----------------------------------
              UPDATE IMAGE BELOW
      ----------------------------------
  */

  background: url('../../src/images/01b.jpg') no-repeat center center fixed transparent;
  background-blend-mode: color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 83%;
  -o-background-size: cover;
  border-radius: 300px;
  border-image: 10cm
}
.cover-container {
  max-width: 100em;
}
.masthead {
  margin-bottom: 3rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: center;
  }
  .nav-masthead {
    float: center;
  }
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  background-color: rgba(36, 152, 206, 0.1);

  padding: .75rem 1.25rem;
  font-weight: 700;
}
.card
{
  background-color: rgba(218, 123, 123, 0.1);
  border: black;
  border-width: 100cm;
  border-color: black;
}
.card body 
{
  color: black;
  border-color: yellow;
}

.btn-primary
{
  color: white;
}
.mastfoot {
  color: rgba(255, 255, 255, .4);
  }
/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
  }
  
/*expanding cards
*/

.trinket
{
  color:black;
  opacity: .8;
  border-radius: 100cm;
  background-color: black;
}
