.nav-masthead .nav-link {
    font-weight: 70;
    font-variant-east-asian: simplified;
    font-variant: small-caps;
    font-stretch:ultra-condensed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: transparent;
    border-bottom: .25rem solid transparent;
    /* background-image: url(/src/images/010010000110010101101100011011000110111100100001.webp); */
    border-radius: 100ch;
    font-style: italic;
    box-shadow: #e60073;
    color: white;
    opacity: 99%;
}

.nav-masthead .nav-link:hover {
    transform: scale(1.23);
    color: darkorange;
    background-image: url(/src/images/code.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 100%;
}

.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: center;
    }
}

#skills {
    color: black;
}

#technologies {
    color: black;

}

#projects {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    font-style: italic;
    font-variant: small-caps;
}

#contact {
    color: white;
    font-variant: small-caps;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}