
body {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.projectRow {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
  border-radius: 4.2ch;
  font-family: 'Courier New', Courier, monospace;
  /* background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fsitiobigdata.com%2F2019%2F06%2F09%2Fpython-configurar-entorno-machine-learning%2F&psig=AOvVaw1mE7_WIek0WCLYIKuBD91B&ust=1671334546998000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOCuwMTc__sCFQAAAAAdAAAAABAe); */
}

#projects {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:normal;
  font-style: italic;
  font-variant: small-caps;
}