  #typewriter {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    color: lightsalmon;
    border-color: black;
    border-radius: 1ch;
    margin: auto;
    font-family: monospace;
  }

  #typewriter p {
    font-size: 3.2vmax;
    font-style: italic;
  }

  span {
    animation: blinker 1s linear infinite;
  }
