  .time{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 66%;
    font-family:monospace;
    background-color:lightslategray;
    width: 100%;
    border-color: white;
    border-radius: 1ch;
  }
  
  #typewriter{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black ;
    width: 100%;
    color: lightsalmon;
    border-color: black;
    border-radius: 1ch;
    margin: auto;
    font-family:monospace;    
  }
  
  #typewriter p{font-size: 1.5rem;}
  
  span{animation: blinker 1s linear infinite;}
