.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover{
    box-shadow: 0 0 42px #ffff00;
}

.one2:hover,.two2:hover,.three2:hover,.four2:hover,.five2:hover,.six2:hover,.seven2:hover,.eight2:hover,.nine2:hover,.ten2:hover,.eleven2:hover{
    box-shadow: 0 0 42px #ffff00;
}

.one {
    opacity: 0.8;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png);
    border-radius: 20%;
}

.two {
    opacity: 0.9;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png);
    border-radius: 100px;
    border-width: 60cm;
}

.three {
    opacity: 0.7;
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png);
}

.four {
    opacity: 0.;
    background: url(https://cdn.worldvectorlogo.com/logos/c--4.svg);
    border-radius: 100px;
    border-width: 60cm;
    position: top;
}

.five {
    opacity: 0.4;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png);
}

.six {
    opacity: 0.3;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kotlin_Icon.svg/2048px-Kotlin_Icon.svg.png);
}

.seven {
    opacity: 0.3;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png);
}

.expanding-container {
    display: flex;
    width: 100%;
}