.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover {
    /* box-shadow: 0 0 42px #ffff00; */
    transform: scale(111%);
    opacity: 100%;
}

.expanding-container {
    display: flex;
    width: 100%;
}
/* python */
.one {
    opacity: 0.8;
    background: url(/src/images/tools/python.png);
    border-radius: 20%;
    
}
/* cpp */
.two {
    opacity: 0.9;
    background: url(/src/images/tools/c++.png);
    border-radius: 100px;
    border-width: 60cm;
}
/* java */
.three {
    opacity: 0.7;
    background: url(/src/images/tools/java.png);
}
/* c# */
.four {
    opacity: 0.;
    background: url(/src/images/tools/c--4.svg);
    border-radius: 100px;
    border-width: 60cm;
    position: top;
}
/* typescript */
.five {
    opacity: 0.4;
    background: url(/src/images/tools/typescript.png);
}
/* kotlin */
.six {
    opacity: 0.3;
    background: url(/src/images/tools/kotlin.png);
}
/* go */
.seven {
    opacity: 0.3;
    background: url(/src/images/tools/go.png);
}

.section {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 60vh;
    cursor: pointer;
    flex: 2;
    margin: 10px;
    position: relative;
    transition: all .6s ease-out;
}

.section.active {
    flex: 25;
}

#skills {
    color: black;
}