.social-icons {
    width: auto;
    opacity: 10;
    border-radius: 10ch;
    background: url(https://cdn.worldvectorlogo.com/logos/c--4.svg);

}

.socialHover-image {
    transition: box-shadow 0.5s;
}

.socialHover:hover {
    box-shadow: 0 0 10px #ffff00;
}
